<div class="card p-4">
  <div class="d-flex justify-content-between mb-2">
    <span>Question {{index}}</span>
    <span id="timer">Time: 0s</span>
  </div>
  <h4>{{question.text}}</h4>

  {{#if question.options}}
    <div>
      {{#each question.options}}
        <div class="form-check">
          <input class="form-check-input" type="radio" name="answer" value="{{this}}" id="opt{{@index}}">
          <label class="form-check-label" for="opt{{@index}}">{{this}}</label>
        </div>
      {{/each}}
    </div>
  {{else if question.imageOptions}}
    <div class="row">
      {{#each question.imageOptions}}
        <div class="col-6 col-md-4 text-center">
          <label class="d-block">
            <input type="radio" name="answer" value="{{this.correctValue}}" class="form-check-input d-block mx-auto mb-2" />
            <img src="{{this.url}}" alt="{{this.alt}}" class="img-thumbnail selectable-img" />
            <p class="mt-2 fw-semibold">{{this.alt}}</p>
          </label>
        </div>
  {{/each}}

    </div>
  {{else}}
    <input type="text" id="textAnswer" class="form-control mt-2" placeholder="Type your answer here" />
  {{/if}}

  <div class="mt-3 d-flex justify-content-between">
    <div>Score: {{score}}/{{total}}</div>
    <button id="submitAnswer" class="btn btn-success">Submit</button>
  </div>
</div>
